@model ProjectGecko.Models.Post

@{
    ViewData["Title"] = "CreatePost";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h1>CreatePost</h1>

@using (Html.BeginForm("CreatePost", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>The name to be publicly displayed</p>
    <p>Caption: <span>@Html.EditorFor(m => m.Title)</span></p>
    <p>@Html.ValidationMessageFor(m => m.Title)</p>

    <p>Images to Post: <span><input type="file" required name="ImagePaths" multiple /></span></p>
    <p>@Html.ValidationMessageFor(m => m.ImagePaths)</p>

    <input type="submit" />
}