@using ProjectGecko.Models
@model Account

@{
    ViewData["Title"] = "UserCommissions";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<p>Needs back end support to display queued commissions</p>
@foreach (Commission comm in ViewBag.Commissions)
{
    <div class="commissionsBox">
        <p>To: @comm.CommissioneeID</p>
        <p>From: @comm.CommissionerID</p>
        <p>Description: @comm.Description</p>
        @foreach (string path in comm.ImagePaths){
            <img class="PostListingImage" src=@Url.Content(path) alt="Alternate Text" />
        }
    </div>
}